.DatePicker{
    text-align: center;
    margin-top: 20em;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2em;
    font-size: 1em;
    border: 1px solid white round 10px;
    border-radius: 1em;
    color: white;
}
.BotaoConfirma{
    margin-top: 0.1em;
    text-align:center;
    width: 100%;
}
.DatePicker>h1{
    font-size: 3em;
    margin-bottom: 0.3em;
    font-family:fantasy,copperplate;
}
.block{
    margin-top: 1em;
    width: 13em;
    border: 1px round solid white;
    margin-bottom: 1em;
    border-radius: 1em;
    background-color: white;
}
header{
    font-size: 4.5em;
    text-align: center;
    color: white;
    font-family: fantasy,copperplate;
}
input.Calendar{
    width: 7.2em;
    height: 2em;
    font-size: 2em;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    border-radius:0.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input.Calendar:focus{
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}
*:focus {
    outline: none;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}